<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnitDbSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="SysDbSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="RdyDbSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ProdDbSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <UnitDbSettings>
    <add key="unitDBServer" value="LOCAL_EB02"/>
    <add key="unitDBUser" value="e3012936"/>
    <add key="unitDBPwd" value="mukesh#123"/>
  </UnitDbSettings>
  <SysDbSettings>
    <add key="sysDbServer" value="EB01"/>
    <add key="sysDbUser" value="e3012936"/>
    <add key="sysDbPwd" value=""/>
  </SysDbSettings>
  <RdyDbSettings>
    <add key="rdyDbServer" value="EBFNC01_USER_SVC_PDC"/>
    <add key="rdyDbUser" value="e3012936"/>
    <add key="rdyDbPwd" value=""/>
  </RdyDbSettings>
  <ProdDbSettings>
    <add key="prodDbServer" value="EBPRD01_USER_SVC"/>
    <add key="prodDbUser" value="e3012936"/>
    <add key="prodDbPwd" value=""/>
  </ProdDbSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>